<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Service ($http) AngularJS</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        .loading {
            background: rgba(0, 0, 0, .5);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
        }

        .spinner-center {
            top: 50%;
            left: 50%;
            position: absolute;
        }
    </style>
</head>

<body ng-app="demo_service">
    <div class="container" ng-controller="my_controller">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>

        <div class="col-12 mb-3 mt-2 alert {{ isSuccess ? 'alert-success' : alert-danger}}"
            ng-show="message.length != 0">
            {{ message }}
        </div>

        <form ng-submit="onFormSubmit($event)">
            <div class="col-12 mb-3 mt-2 form-group">
                <label for="hoten" class="form-label fw-bold">Họ và tên</label>
                <input ng-model="student.name" type="text" class="form-control" id="hoten" name="hoten">
            </div>

            <div class="col-12 mb-3 form-group">
                <label for="bd" class="form-label fw-bold">Mã sinh viên</label>
                <input ng-model="student.code" type="text" class="form-control" id="bd" name="bd">
            </div>

            <div class="col-12 mb-4 form-group">
                <label for="diem" class="form-label fw-bold">Chuyên ngành</label>
                <input ng-model="student.chuyen_nganh" type="text" class="form-control" id="diem" name="diem">
            </div>

            <div class="col-12 mb-3 form-group">
                <button class="btn btn-outline-primary">Lưu</button>

                <button class="btn btn-outline-dark">Xóa form</button>

            </div>
        </form>

        <hr class="mt-4 mb-4">

        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Mã SV</th>
                <th>Chuyên ngành</th>
                <th colspan="2">Thao tác</th>
            </thead>
            <tr ng-repeat="stu in students">
                <td>{{ stu.id }}</td>
                <td>{{ stu.name }}</td>
                <td>{{ stu.code }}</td>
                <td>{{ stu.chuyen_nganh }}</td>
                <td>
                    <a class="btn btn-primary">Sửa</a>
                </td>
                <td>
                    <a class="btn btn-danger" ng-click="" data-bs-toggle="modal"
                        data-bs-target="#modal_delete_{{ stu.id }}">Xóa</a>
                    <!-- Modal xóa -->
                    <div class="modal fade" id="modal_delete_{{ stu.id }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Xóa</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Xác nhận xóa?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" ng-click="onDelete($index)"
                                        class="btn btn-danger">Xóa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        const app = angular.module("demo_service", []);

        const myController = function ($scope, $http) {
            $scope.student = {
                id: '',
                name: '',
                code: '',
                chuyen_nganh: ''
            };
            $scope.students = [];
            $scope.isLoading = true;
            $scope.isSuccess = true;
            $scope.message = "";

            const api = 'https://620b061fbeee430017f38481.mockapi.io/students';
            $http.get(api) // Gửi request dạng GET lên API
                .then(function (response) {
                    // console.log(response);
                    $scope.isLoading = false;
                    $scope.students = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                    $scope.isLoading = false;
                });

            $scope.onFormSubmit = function (event) { // Thêm và Sửa
                event.preventDefault();

                // // TODO:
                // if (index == -1) {
                //     // Thêm mới
                // } else {
                //     // Cập nhật
                // }

                // console.log($scope.student);
                // Gửi request dạng POST kèm dữ liệu lên API
                $http.post(api, $scope.student)
                    .then(function (response) {
                        console.log(response);

                        // thông báo thành công
                        $scope.isSuccess = true;
                        $scope.message = "Thêm mới thành công";

                        // Thêm vào table
                        $scope.students.push(response.data);
                    });

                $scope.onDelete = function (index) {
                    const id = $scope.students[index].id;
                    const apiDelete = api + "/" + id;
                    $http.delete(apiDelete)
                        .then(function (response) {
                            // Xóa trên table
                            $scope.students.splice(index, 1);
                        });
                }
            }
        }

        app.controller("my_controller", myController);

    </script>
</body>

</html>